<div class="container my-5">
 <form *ngIf="carForm" [formGroup]="carForm!" (ngSubmit)="onSubmit()">

    <div class="section-header">
      <h3>
        <span class="text-black">{{ 'SALES' | translate }}</span>
        <span class="text-yellow">{{ 'DATA' | translate }}</span>
      </h3>
    </div>

    <div class="form-section">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'NAME' | translate }}</mat-label>
        <input matInput formControlName="name" placeholder="{{ 'NAME_PLACEHOLDER' | translate }}" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PHONE' | translate }}</mat-label>
        <input matInput formControlName="phone" placeholder="{{ 'PHONE_PLACEHOLDER' | translate }}" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'EMAIL' | translate }}</mat-label>
        <input matInput formControlName="email" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" readonly>
      </mat-form-field>
    </div>

    <div class="section-header">
      <h3><span class="text-black">{{ 'PRICE' | translate }}</span></h3>
    </div>

    <div class="form-section">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'OFFER' | translate }}</mat-label>
        <input matInput formControlName="price" placeholder="{{ 'OFFER_PLACEHOLDER' | translate }}">
        <mat-hint>{{ 'PAYMENT_INCLUDES_COMMISSION' | translate }}</mat-hint>
      </mat-form-field>
    </div>

    <div class="section-header">
      <h3>
        <span class="text-black">{{ 'CAR' | translate }}</span>
        <span class="text-yellow">{{ 'CAR_DATOS' | translate }}</span>
      </h3>
    </div>

    <div class="form-section form-group">
  <mat-form-field
    appearance="outline"
    class="full-width"
    *ngFor="let field of carFields">
    <mat-label>{{ field.label | translate }}</mat-label>

    <input
      *ngIf="!field.select && !field.textarea"
      matInput
      [formControlName]="field.name"
      [placeholder]="(field.placeholder ?? '') | translate"
      [type]="field.type || 'text'">

    <mat-select
      *ngIf="field.select"
      [formControlName]="field.name">
      <mat-option *ngFor="let opt of field.options" [value]="opt.value">
        {{ opt.label | translate }}
      </mat-option>
    </mat-select>

    <textarea
      *ngIf="field.textarea"
      matInput
      [formControlName]="field.name"
      [placeholder]="(field.placeholder ?? '') | translate">
    </textarea>
  </mat-form-field>
</div>

    <div class="section-header">
      <h3><span class="text-black">{{ 'PHOTOS' | translate }}</span></h3>
    </div>

    <div class="form-section photo-section">
      <label class="custum-file-upload" for="file">
        <div class="icon">
        </div>
        <div class="text">
          <span>{{ 'CLICK_TO_UPLOAD_IMAGE' | translate }}</span>
        </div>
        <input type="file" id="file" (change)="onFileSelected($event)" multiple>
      </label>

      <div cdkDropList class="photo-list-horizontal" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let preview of photoPreviews; let i = index" class="photo-preview" cdkDrag>
          <img [src]="preview || defaultImage" alt="Photo Preview" class="img-thumbnail" width="150" (click)="openPreviewModal(i)">
          <button type="button" class="remove-button" (click)="removeImage(i); $event.stopPropagation()">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="submit-button">
      <button mat-raised-button color="primary" type="button" (click)="openPublicationPreview()">
        {{ 'PREVIEW_CAR' | translate }}
      </button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!carForm.valid">
        {{ 'PUBLISH_CAR' | translate }}
      </button>
    </div>
  </form>

  <div class="modal-overlay" *ngIf="showPreviewModal" (click)="closePreviewModal()">
    <div class="modal-preview-content" (click)="$event.stopPropagation()">
      <span class="close-button" (click)="closePreviewModal()">&times;</span>
      <div class="image-modal">
        <button class="prev-button" (click)="prevPreviewImage()">&#10094;</button>
        <img
          [src]="photoPreviews?.[previewImageIndex] || defaultImage"
          alt="Preview Image"
          class="modal-image zoom-image"
          (click)="toggleZoom($event)"
          (mousemove)="moveZoom($event)">
        <button class="next-button" (click)="nextPreviewImage()">&#10095;</button>
      </div>
    </div>
  </div>
</div>