<footer class="footer">
  <div class="footer-content">
    <div class="footer-social">
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-info">
      <p>&copy; 2024 Car2Go. {{ 'ALL_RIGHTS_RESERVED' | translate }}</p>
      <p>{{ 'CONTACT_US' | translate }}: info&#64;car2go.com</p>
    </div>
  </div>
</footer>
