<div *ngIf="loading" class="loader-container">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  <p>{{ 'LOADER' | translate }}</p>
</div>

<div class="container" *ngIf="!loading">
  <div *ngIf="reviewedCars.length === 0" class="no-review">
    <p>{{ 'NO_CARS_REVIEWED_YET' | translate }}</p>
  </div>

  <div *ngFor="let car of reviewedCars" class="card">
    <div class="card-content">
      <div class="img-container">
        <img [src]="car.image || 'assets/default_image.jpg'" alt="{{ car.brand }} {{ car.model }}">
      </div>

      <div class="info-container">
        <div class="owner-details">
          <h4>{{ 'OWNER_INFORMATION' | translate }}</h4>
          <p>
            <i class="material-icons">person</i>
            <strong>{{ 'NAME' | translate }}:</strong> {{ car.name }}
          </p>
          <p>
            <i class="material-icons">phone</i>
            <strong>{{ 'PHONE' | translate }}:</strong> {{ car.phone }}
          </p>
          <p>
            <i class="material-icons">email</i>
            <strong>{{ 'EMAIL_INFO' | translate }}:</strong> {{ car.email }}
          </p>
        </div>

        <div *ngIf="car.reviews && car.reviews.length > 0" class="review-details">
          <h4>{{ 'REVIEW_INFORMATION' | translate }}</h4>
          <p>
            <i class="material-icons">event</i>
            <strong>{{ 'REVIEW_DATE' | translate }}:</strong>
            {{ car.reviews[car.reviews.length - 1].reviewDate | date }}
          </p>
          <p>
            <i class="material-icons">note</i>
            <strong>{{ 'NOTES' | translate }}:</strong>
            {{ car.reviews[car.reviews.length - 1].notes }}
          </p>
          <p>
            <i class="material-icons">check_circle </i>
            <strong>{{ 'STATUS' | translate }}:</strong> {{ car.status }}
          </p>
        </div>

        <div class="no-review" *ngIf="!car.reviews || car.reviews.length === 0">
          <p><strong>{{ 'NO_REVIEWS_AVAILABLE' | translate }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>