.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.car-details {
  display: flex;
  flex-direction: column;
}

h2 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -50px;
  font-size: 32px;
  font-weight: 500;
}

h2 span {
  color: #f4c23d;
}

.card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 350px;
  gap: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.safety-icon {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  color: #f4c23d;
  font-size: 20px;
}

.safety-icon mat-icon {
  vertical-align: middle;
  transition: color 0.3s ease;
}

.safety-icon:hover mat-icon {
  color: #f4a623;
}

.safety-message {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #333;
  width: max-content;
  min-width: 220px;
}

.safety-icon:hover .safety-message {
  display: block;
}

.review-button {
  display: block;
  margin-top: 10px;
  background-color: #f4c23d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.review-button:hover {
  background-color: rgba(244, 194, 61, 0.8);
}

.offer-button {
  background-color: #f4c23d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offer-button:hover {
  background-color: rgba(244, 194, 61, 0.8);
}

.car-information {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-width: 300px;
}

.car-description {
  display: flex;
  flex-direction: column;
  max-height: 160px;
  height: 40%;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.car-gallery {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}

.car-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.main-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.main-image img {
  width: 100%;
  max-width: 600px;
  height: 330px;
  object-fit: cover;
  border-radius: 8px;
}

.thumbnails {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
  scrollbar-width: none;
}

.thumbnails::-webkit-scrollbar {
  display: none;
}

.thumbnails img {
  width: 90px;
  height: 75px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
}

.thumbnails img:hover {
  transform: scale(1.05);
}

.thumbnails img.active {
  border: 2px solid #ffcf02;
  transform: scale(1.1);
}

.carousel-nav {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  border-radius: 50%;
  transition: background 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.car-gallery:hover .carousel-nav {
  opacity: 1;
  pointer-events: auto;
}

.carousel-nav.prev {
  left: 10px;
}

.carousel-nav.next {
  right: 10px;
}

.carousel-nav:hover {
  background: rgba(255, 255, 255, 0.8);
}

.car-description h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-description h4,
.car-description h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
}

.car-description p {
  font-size: 16px;
  margin-top: 0;
  width: 100%;
  color: #606060;
  height: 40%;
  max-height: 50px;
  text-end-overflow: ellipsis;
  overflow: auto;
}

.go-back {
  background-color: transparent;
  color: #2959ad;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: color 0.3s ease;
}

.snackbar-success {
  background-color: #28a745 !important;
  color: white !important;
  font-weight: bold;
}

.snackbar-error {
  background-color: #dc3545 !important;
  color: white !important;
  font-weight: bold;
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}


.go-back mat-icon {
  margin-right: 5px;
}

.go-back:hover {
  color: #f4c23d;
}

.car-data {
  display: flex;
  flex: 1;
}

.column-list {
  flex: 1;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

li i {
  margin-right: 20px;
  background-color: #ffcf02;
  font-size: 20px;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
}

li span {
  font-size: 15px;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  flex-wrap: wrap;
  flex: 1;
}

.buttons button {
  border: none;
  background-color: #f4c23d;
  color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 190px;
  height: 50px;
  font-weight: bold;
}

.buttons button:hover {
  background-color: rgba(244, 194, 61, 0.7);
}

h5 {
  color: #2959ad;
}

.back-button {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.blur-background {
  filter: blur(3px);
  transition: filter 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  max-height: 60%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
  scrollbar-color: auto;
  transition: all 0.3s ease-in-out;
}

.modal-content::-webkit-scrollbar {
  width: 12px;
}

.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  transition: all 0.3s ease;
}

.close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #444;
  transition: color 0.2s;
}

.close:hover {
  color: #e74c3c;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.section-header h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #333;
  position: relative;
}

.section-header h3 span.text-black {
  color: #333;
}

.section-header h3 span.text-yellow {
  color: #f1c40f;
}

.section-header h3:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #3498db;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.form-group {
  flex: 1 1 48%;
}

.full-width {
  flex: 1 1 100%;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #444;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #3498db;
  outline: none;
}

textarea {
  height: 100px;
  resize: vertical;
}


.existing-images .image-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.main-image-edit-container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.main-image-edit img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #ddd;
  transition: border-color 0.2s;
  display: inline-block;
}

.main-image-edit img:hover {
  border-color: #3498db;
}

.submit-button {
  margin-top: 15px;
  display: block;
}

.submit-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: #2980b9;
}


.message-and-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.temporary-message {
  font-size: 1rem;
  color: #333333;
  font-weight: 500;
  line-height: 1.5;
  margin-right: 10px;
  letter-spacing: 0.05rem;
}

.new-images button {
  border: none;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.5rem;
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.3s ease;
}
.highlight {
  color: #488aec;
  font-weight: 700;
}

.new-images button:hover {
  box-shadow:
    0 10px 15px -3px #488aec4f,
    0 4px 6px -2px #488aec17;
}

.new-images button:focus,
.new-images button:active {
  opacity: 0.85;
  box-shadow: none;
}

.new-images button svg {
  width: 1.25rem;
  height: 1.25rem;
}



.hidden-file-input {
  display: none;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}

.thumbnail:hover {
  border-color: #3498db;
}

.button-remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
}

.button-remove-image:hover {
  background-color: darkred;
  transform:scale(1.1); ;
}

.button-remove-image:before {
  content: '✕';
  font-size: 14px;
  font-weight: bold;
}

.new-images input[type="file"] {
  padding: 10px 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    max-height: 90%;
  }

  .form-group {
    flex: 1 1 100%;
  }

  .main-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 70%;
  }

  .form-group {
    flex: 1 1 100%;
  }
}

@media (max-width: 600px) {
  .main-image img {
    max-width: 100%;
    height: auto;
  }

  .thumbnails img {
    width: 55px;
    height: 56px;
  }
}
