html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.content {
  padding: 20px;
}
