<div class="login-container">
  <div class="form-container">
    <img src="assets/logo.png" alt="car2go logo" class="logo">

    <h1>Get Started Now</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your name">
        <mat-error *ngIf="signUpForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password">
        <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">
          Password must be at least 3 characters long
        </mat-error>
      </mat-form-field>

      <div class="checkbox-group">
        <mat-checkbox (change)="onRoleChange('ROLE_SELLER')">Seller</mat-checkbox>
        <mat-checkbox (change)="onRoleChange('ROLE_BUYER')">Buyer</mat-checkbox>
        <mat-checkbox (change)="onRoleChange('ROLE_MECHANIC')">Mechanic</mat-checkbox>
      </div>

      <button mat-raised-button color="primary" class="btn-signup" type="submit">Sign Up</button>
    </form>

    <div class="social-login">
      <div class="separator">
        <span></span>
        <p>Or</p>
        <span class="right"></span>
      </div>

      <div class="social-login-buttons">
        <button mat-stroked-button class="google-login">
          <img src="assets/google-logo.svg" alt="Google Logo" width="20px" height="20px"> Sign up with Google
        </button>
        <button mat-stroked-button class="apple-login">
          <img src="assets/apple-logo.svg" alt="Apple Logo" width="20px" height="20px"> Sign up with Apple
        </button>
      </div>
    </div>

    <p class="login-footer">
      Have an account? <a href="/login">Sign In</a>
    </p>
  </div>

  <div class="image-container">
    <img src="assets/car-image.png" alt="Car Image">
  </div>
</div>
