<div class="login-container">
  <div class="form-container">
    <img src="assets/logo.png" alt="car2go logo" class="logo">

    <h1>Welcome back!</h1>
    <h2>Enter your credentials to access your account</h2>

    <form [formGroup]="signInForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Enter your username">
        <mat-error *ngIf="signInForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Enter your password">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="btn-signin" type="button" (click)="onSignInSubmit()">Sign In</button>

      <div class="forgot-password-container">
        <a mat-button href="/forgot-password" class="forgot-password-link">Forgot password?</a>
      </div>
    </form>

    <div class="social-login">
      <div class="separator">
        <span></span>
        <p>Or</p>
        <span class="right"></span>
      </div>

      <div class="social-login-buttons">
        <button mat-stroked-button class="google-login">
          <img src="assets/google-logo.svg" alt="Google Logo" width="20px" height="20px"> Sign in with Google
        </button>
        <button mat-stroked-button class="apple-login">
          <img src="assets/apple-logo.svg" alt="Apple Logo" width="20px" height="20px"> Sign in with Apple
        </button>
      </div>
    </div>

    <p class="login-footer">
      Don't have an account? <a href="/register">Sign Up</a>
    </p>
  </div>

  <div class="image-container">
    <img src="assets/car-image.png" alt="Car Image">
  </div>
</div>
