<div class="login-container">
  <div class="form-container">
    <img src="assets/logo.png" alt="car2go logo" class="logo">

    <h1>Password Recovery</h1>
    <h2>Enter your email to recover your password</h2>

    <form>

      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="Enter your email">

      <button type="button" class="btn-signin">Send</button>
    </form>

  </div>

  <div class="image-container">
    <img src="assets/car-image.png" alt="Car Image">
  </div>
</div>
